Repository cairon666/pixel-perfect-free-extension: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, tsc

lint:
  run: npx eslint {staged_files} --ext .js,.jsx,.ts,.tsx --max-warnings 0 --fix
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

tsc:
  run: npm run tsc

init
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  README.md
  lefthook.yml
  manifest.json
  package-lock.json
  package.json
  src/background.ts
  src/consts.ts
  src/content.tsx
  src/content/PixelPerfectApp.tsx
  src/content/Toolbar.tsx
  src/content/components/CloseButton.tsx
  src/content/components/ControlButtons.tsx
  src/content/components/ControlInputs.tsx
  src/content/components/DrugButton.tsx
  src/content/components/Images.tsx
  src/content/components/MainMenu.tsx
  src/content/components/MenuButtons.tsx
  src/content/components/PixelPerfectOverlay.tsx
  src/content/components/ResizeHandle.tsx
  src/content/hooks/useDragAndDrop.ts
  src/popup/components/Main.tsx
  src/store/atoms.ts
  src/store/index.ts
  src/store/types.ts
  vite.config.ts
Due: lint, format, tsc

fix: tests
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/App.test.tsx
  src/__tests__/setup.ts
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: lint, format, tsc

fix: update vitest
  package-lock.json
  package.json
Due: format

fix: analyze open
  package.json
  vite.config.ts
Due: lint, format

docs: add video
  README.md
  docs/демонстрация.gif
Due: format

chore: update version
  .github/CONTRIBUTING.md
  manifest.json
  package.json
Due: format

chore: bump version to 0.0.2
  manifest.json
  package-lock.json
  package.json
Due: format

ci: from custom release to release-please
  .github/CONTRIBUTING.md
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
  commitlint.config.js
  lefthook.yml
  package-lock.json
  package.json
  tsconfig.node.json
Due: lint, format

fix: disable icon when menu cant work
  README.md
  manifest.json
  public/icons/icon-128-gray.png
  public/icons/icon-16-gray.png
  public/icons/icon-32-gray.png
  public/icons/icon-48-gray.png
  src/background.ts
  src/lib/canUseExtension.ts
  src/lib/canUseExtensionOnPage.ts
  src/lib/checkPageAccessibility.ts
  src/lib/getCurrentActiveTab.ts
Due: lint, format, tsc

chore: add ts check to build
  vite.config.ts
Due: lint, format

fix: update store atoms and actions, minimize logic
  src/store/actions/images.ts
  src/store/actions/index.ts
  src/store/actions/overlay.ts
  src/store/actions/settings.ts
  src/store/actions/ui.ts
  src/store/atoms.ts
  src/store/atoms/images.ts
  src/store/atoms/index.ts
  src/store/atoms/settings.ts
  src/store/atoms/ui.ts
  src/store/index.ts
  src/store/types.ts
Due: lint, format, tsc

chore: remove popup
  src/popup/App.tsx
  src/popup/components/Main.tsx
  src/popup/components/UnsupportedPage.tsx
  src/popup/main.tsx
Due: lint, format, tsc

fix: add touch support for resize and drag and drop hooks
  src/content/hooks/useDragAndDrop.ts
  src/hooks/useDragAndDrop.ts
  src/hooks/useResize.ts
Due: lint, format, tsc

fix: update components to support new store api
  src/components/ErrorBoundar.tsx
  src/consts.ts
  src/content.tsx
  src/content/PixelPerfectApp.tsx
  src/content/components/CloseButton.tsx
  src/content/components/ControlButtons.tsx
  src/content/components/ControlInputs.tsx
  src/content/components/DrugButton.tsx
  src/content/components/Images.tsx
  src/content/components/MainMenu.tsx
  src/content/components/Menu.tsx
  src/content/components/MenuButtons.tsx
  src/content/components/Overlay.tsx
  src/content/components/PixelPerfectOverlay.tsx
  src/content/components/ResizeHandle.tsx
  src/content/components/SettingsImage.tsx
  src/content/components/UploadImages.tsx
Due: lint, format, tsc

feat: add define image dimensions
  src/lib/getImageDimensions.ts
Due: lint, format, tsc

chore: refactor some
  .eslintignore
  .eslintrc.cjs
  index.html
  package-lock.json
  package.json
  src/__tests__/App.test.tsx
  src/env.d.ts
  src/hooks/useChromeOnMessage.ts
  src/hooks/useOnStorageChange.ts
  src/lib/chromeStorage.ts
  src/lib/createChromeStorageAtom.ts
  src/lib/icons.ts
  src/lib/logger.ts
  tailwind.config.js
  tsconfig.node.json
  tsconfig.web.json
Due: lint, format, tsc

test: add tests to lib
  .eslintrc.cjs
  package-lock.json
  package.json
  src/lib/canUseExtension/canUseExtension.test.ts
  src/lib/canUseExtension/canUseExtension.ts
  src/lib/canUseExtension/index.ts
  src/lib/checkPageAccessibility/checkPageAccessibility.test.ts
  src/lib/checkPageAccessibility/checkPageAccessibility.ts
  src/lib/checkPageAccessibility/index.ts
  src/lib/chromeStorage/chromeStorage.test.ts
  src/lib/chromeStorage/chromeStorage.ts
  src/lib/chromeStorage/index.ts
  src/lib/createChromeStorageAtom/createChromeStorageAtom.test.ts
  src/lib/createChromeStorageAtom/createChromeStorageAtom.ts
  src/lib/createChromeStorageAtom/index.ts
  src/lib/getCurrentActiveTab/getCurrentActiveTab.test.ts
  src/lib/getCurrentActiveTab/getCurrentActiveTab.ts
  src/lib/getCurrentActiveTab/index.ts
  src/lib/getImageDimensions/getImageDimensions.test.ts
  src/lib/getImageDimensions/getImageDimensions.ts
  src/lib/getImageDimensions/index.ts
  vite.config.ts
Due: lint, format, tsc

test: add e2e init tests
  .env.build
  .env.build-dev
  .env.e2e
  .eslintrc.cjs
  .github/workflows/e2e.yml
  .gitignore
  README.md
  e2e/extension.spec.ts
  e2e/fixtures/.gitkeep
  e2e/fixtures/test-image.svg
  e2e/fixtures/test-page.html
  package-lock.json
  package.json
  playwright.config.ts
  src/content.tsx
  src/content/components/Menu.tsx
  src/env.d.ts
  tsconfig.e2e.json
  tsconfig.json
  vite.config.ts
Due: lint, format, tsc

ci: update workflow release please
  .github/workflows/release-please.yml
Due: none

feat: add e2e tests
  .dockerignore
  .env.build
  .env.build-dev
  .env.e2e
  .github/workflows/e2e.yml
  .gitignore
  Dockerfile.e2e
  README.md
  docker-compose.e2e.yml
  e2e/__screenshots__/.gitkeep
  e2e/__screenshots__/extension.spec.ts/image-inserted-from-clipboard.png
  e2e/__screenshots__/extension.spec.ts/image-panel-opened-with-settings.png
  e2e/__screenshots__/extension.spec.ts/image-panel-opened.png
  e2e/extension.spec.ts
  e2e/fixtures/chrome-runtime-mock.ts
  e2e/fixtures/roboto-regular.woff2
  e2e/fixtures/test-image.png
  e2e/fixtures/test-page.html
  e2e/utils/ELEMENTS_IDS.ts
  e2e/utils/clickElementByTestId.ts
  e2e/utils/consts.ts
  e2e/utils/copyImageToClipboard.ts
  e2e/utils/elementIsExists.ts
  e2e/utils/openMenu.ts
  e2e/utils/startExtension.ts
  e2e/utils/waitForFonts.ts
  package.json
  playwright.config.ts
  src/content.tsx
  src/content/components/Menu.tsx
  src/content/components/MenuButtons.tsx
  src/content/components/Overlay.tsx
  src/content/components/UploadImages.tsx
  tsconfig.e2e.json
  vite.config.ts
Due: lint, format, tsc

fix: vars extend from shadow root and style fixes
  e2e/__screenshots__/extension.spec.ts/image-panel-opened-with-settings.png
  e2e/__screenshots__/extension.spec.ts/image-panel-opened.png
  e2e/__screenshots__/extension.spec.ts/image-panel-settings-size-compare.png
  e2e/extension.spec.ts
  e2e/utils/consts.ts
  e2e/utils/setHTMLStyle.ts
  package-lock.json
  package.json
  src/content.tsx
  src/content/components/ControlButtons.tsx
  src/content/components/ControlInputs.tsx
  src/content/components/Images.tsx
  src/content/components/Menu.tsx
  src/content/components/MenuButtons.tsx
  src/content/components/UploadImages.tsx
  src/styles/globals.css
  tailwind.config.js
  tsconfig.node.json
Due: lint, format, tsc

fix: add menu right x sticky on resize
  src/content/components/Menu.tsx
  src/content/consts.ts
Due: lint, format, tsc

fix: overlay can move outside of viewport
  src/content/components/Overlay.tsx
  src/hooks/useDragAndDrop.ts
Due: lint, format, tsc

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,css,scss}
  tsc: any of: src/**/*.{ts,tsx}
